$body-bg: #f5f5f5;
$fontNavColor: rgba(0, 0, 0, 0.74);
// $navBarColor: #12B5C0;

$navBarColor: #ffffff;

$sideBarColor: #67c1c7;
$sideBarFontColor: #ffffff;

$categoriesCardBgColor: #ffffff;

$hoverCategoriesCardBgColor: #dadada


